.bookDetailContainer{
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bookDetailContainer img{
  width:100%;
}
